*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: sans-serif;
}

.headrow {
  background-color: rgb(75, 81, 81);
  color: white;
  text-align: center;
  padding: 100px;
}