*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: sans-serif;
}

#menubar {
  background-color: #367C2B;
  padding: 15px;
  border-bottom: 3px solid black;
}

.headline {
  background-color: rgb(69, 72, 72);
  color: white;
  text-align: center;
  padding: 20px;
}

#einführung {
  text-align: center;
  font-size: 17px;
  margin: 30px;
}